Repository boostcampwm2023/iOS07-traveline, pull requests merged in 2023-12, with the labels that each got.

#197 [feat] 홈 화면 - Use Case 추가
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/PostingRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Profile.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/PostingRepository.swift
  iOS/traveline/Sources/Domain/UseCase/HomeUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/ViewModel/SideMenuViewModel.swift
Labels: 🍎 iOS, 📄 Posting

#198 [feat] 타임라인 작성 화면 뷰모델
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#199 [feat] 내가 작성한 게시글 목록 반환 API 추가
  BE/src/postings/posting.swagger.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 🌟 Feature, 🔥 Hotfix, 📄 Posting

#200 [feat] 타임라인에서 이미지 관련 로직 추가
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.module.ts
  BE/src/timelines/timelines.service.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🌟 Feature, 📚Timeline

#213 [feat] 타임라인 생성, 수정, 삭제 작업 시 게시글 썸네일 처리
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/postings.repository.ts
  BE/src/timelines/timelines.repository.ts
  BE/src/timelines/timelines.service.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🌟 Feature, 📁 DB, 📄 Posting, 📚Timeline

#218 [refactor] users API 로직 수정, 프로필 사진 내리는 기능 추가
  BE/src/users/dto/check-duplicated-name-response.dto.ts
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/dto/user-info.dto.ts
  BE/src/users/dto/user-name.dto.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.repository.ts
  BE/src/users/users.service.ts
  BE/src/users/users.swagger.ts
Labels: 💽 BE, ♻️ Refactor, 🔐 User

#226 [fix] 게시글 검색 이슈 & POST 반환 값 수정
  BE/src/postings/posting.swagger.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 🐞 Bug, 📄 Posting

#216 [feat] 내가 작성한 글 목록 UseCase
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Repository/Mock/PostingRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/PostingRepository.swift
  iOS/traveline/Sources/Domain/UseCase/MyPostingListUseCase.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/ViewModel/MyPostListViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#229 [fix] swagger 수정 (request body, 안내 메시지)
  BE/src/postings/postings.controller.ts
  BE/src/timelines/dto/create-timeline.dto.ts
Labels: 💽 BE, 🐞 Bug, 📄 Posting, 📚Timeline

#230 [feat] 타임라인 상세화면 UseCase 플로우
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineDetailUseCase.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/ViewModel/TimelineDetailViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineMapScene/VC/TimelineMapVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
Labels: 🍎 iOS, 🌟 Feature

#228 [fix] 홈 state 겹치는 버그 수정
  iOS/.swiftlint.yml
  iOS/Tuist/ProjectDescriptionHelpers/Scripts.swift
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/more@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/Time.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/time@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/time@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/more.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/more.imageset/more.png
  iOS/traveline/Resources/Images.xcassets/Travel/more.imageset/more@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/more.imageset/more@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/time.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/time.imageset/time.png
  iOS/traveline/Resources/Images.xcassets/Travel/time.imageset/time@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/time.imageset/time@3x.png
  iOS/traveline/Sources/Core/Combine/UIControl+/EventPublisher.swift
  iOS/traveline/Sources/Core/Enum/FilterType.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeState.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/LoginFeature/VC/LoginVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
Labels: 🍎 iOS, 🐞 Bug

#231 [feat] 연관 검색어 Data-Domain 연결
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingTitleListResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/PostingRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/DesignSystem/Component/TLLabel.swift
  iOS/traveline/Sources/DesignSystem/View/TLSearch/TLSearchInfoView.swift
  iOS/traveline/Sources/Domain/Model/SearchKeyword.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/PostingRepository.swift
  iOS/traveline/Sources/Domain/UseCase/HomeUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 🔎 Search

#233 [refactor] auth API 리뷰 반영 후 로컬 테스트
  .github/workflows/deploy.yml
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.guard.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/auth.swagger.ts
  BE/src/auth/dto/delete-auth.dto.ts
Labels: 💽 BE, ♻️ Refactor, 🔐 User

#237 [fix] 배포 오류 해결을 위한 키 값 선언 방식 변경
  .github/workflows/deploy.yml
  BE/src/auth/auth.service.ts
Labels: 💽 BE, 🐞 Bug, 🔐 User

#234 [feat] 프로필 수정 화면 UseCase Flow를 작성
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Data/Network/API/UserEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/UserResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/UserRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/UserRepositoryImpl.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/UserRepository.swift
  iOS/traveline/Sources/Domain/UseCase/ProfileEditingUseCase.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/ViewModel/ProfileEditingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#241 [docs] swagger에서 사진 전송 가능하도록 변경
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/users.controller.ts
Labels: 💽 BE, ⚙️ Setting, ♻️ Refactor

#250 [refactor] createDaysList의 반환 형식 변경 5화 → 05 화
  BE/src/postings/postings.controller.ts
Labels: 💽 BE, 🛠️ Chore

#251 [feat] 타임라인 상세 내용 Papago API로 번역
  .github/workflows/deploy.yml
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.service.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🌟 Feature, 📚Timeline

#243 [feat] 세팅 화면 Data-Domain Flow 작업
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
  iOS/traveline/Sources/Data/Repository/AuthRepositoryImpl.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/AuthRepository.swift
  iOS/traveline/Sources/Domain/UseCase/SettingUseCase.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/ViewModel/SettingVeiwModel.swift
Labels: 🍎 iOS, 🌟 Feature

#246 [feat] 사이드 바 Data-Domain Flow
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Domain/UseCase/SideMenuUseCase.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/ViewModel/SideMenuViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#258 [refactor] 타임라인에 트랜잭션 적용
  BE/package-lock.json
  BE/package.json
  BE/src/database/database.providers.ts
  BE/src/main.ts
  BE/src/timelines/timelines.service.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📚Timeline

#254 [feat] 타임라인 Data-Domain 연결
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/Core/Util/TagManager.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/TimelineEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/FetchTimelineRequestDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostPostingsResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TravelRequestDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/PostingRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/Mock/TravelRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/Data/Repository/TimelineRepositoryImpl.swift
  iOS/traveline/Sources/Data/Repository/TravelRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineTravelInfo.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/PostingRepository.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineRepository.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TravelRepository.swift
  iOS/traveline/Sources/Domain/UseCase/FetchTravelInfoUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TravelUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/DateIndicatorCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineDateHeaderView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
Labels: 🍎 iOS, 🌟 Feature

#257 [feat] 검색 결과 Data-Domain 구현
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Core/Enum/FilterType.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Repository/Mock/PostingRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/DesignSystem/View/TLFilter/TLFilterDetailButton.swift
  iOS/traveline/Sources/DesignSystem/View/TLFilter/TLFilterListView.swift
  iOS/traveline/Sources/Domain/Model/Filter/DetailFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/Filter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/PeriodFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/RegionFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/SeasonFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/SortFilter.swift
  iOS/traveline/Sources/Domain/Model/Sample/FilterDetailSample.swift
  iOS/traveline/Sources/Domain/Model/SearchQuery.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/CostTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/PeopleTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/ThemeTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/TransportationTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/WithTag.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/PostingRepository.swift
  iOS/traveline/Sources/Domain/UseCase/HomeUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeState.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 🔎 Search

#238 [feat] 타임라인 작성 화면 Data-Domain Flow
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailRequestDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailRequest.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectedLocationButton.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#265 [refactor] ViewModel State 수정
  iOS/traveline/Sources/Core/Base/BaseViewModel.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/LoginFeature/VC/LoginVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/VC/SideMenuVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/ViewModel/TravelViewModel.swift
Labels: 🍎 iOS, ♻️ Refactor

#268 [fix] iOS 요청 반영
  BE/src/app.controller.ts
  BE/src/postings/posting.swagger.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/postings.repository.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.swagger.ts
  BE/src/users/users.controller.ts
Labels: 💽 BE, 🛠️ Chore, 📁 DB, 📄 Posting, 📚Timeline

#273 [feat] mailer 모듈을 이용한 새로운 환경 로그인 시 경고 메일 발송 작업
  .github/workflows/deploy.yml
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth-request.dto.ts
  BE/src/main.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/dto/update-user-ip.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.service.ts
  BE/views/email.ejs
  BE/views/ip-process-result.ejs
  BE/views/test.ejs
Labels: 💽 BE, 🌟 Feature, 🔐 User

#275 [fix] 환경변수 저장 형태 변경
  .github/workflows/deploy.yml
  BE/src/app.module.ts
Labels: 💽 BE, ⚙️ Setting, 🐞 Bug

#281 [refactor] 이메일 값 옵셔널 설정
  BE/src/app.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth-request.dto.ts
Labels: 💽 BE, ♻️ Refactor, 🔐 User

#283 [fix] 로그인 시 500 에러 해결
  BE/src/auth/auth.service.ts
Labels: 💽 BE, 🐞 Bug, 🔐 User

#276 [feat] 검색 결과 서버 연결
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/WriterDTO.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLListCVC.swift
  iOS/traveline/Sources/DesignSystem/View/TLSearch/TLSearchInfoView.swift
  iOS/traveline/Sources/Domain/Model/SearchQuery.swift
  iOS/traveline/Sources/Domain/Model/SearchResult.swift
  iOS/traveline/Sources/Domain/Model/Travel/TravelListInfo.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, ⚙️ Setting, 📡 Network

#277 [feat] Multipart 구현 및 타임라인 생성 API 연동
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Core/Extension/Data+.swift
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/LoginEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/TimelineEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/UserEndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/EndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/HeaderType.swift
  iOS/traveline/Sources/Data/Network/Base/MultipartData.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkManager.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailRequestDTO.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#285 [feat] 세팅화면 데이터 레이어 로직
  iOS/traveline/Sources/Core/Constant/KeychainList.swift
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/LoginRequestDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/LoginResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/withdrawRequestDTO.swift
  iOS/traveline/Sources/Data/Repository/AuthRepositoryImpl.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/AuthRepository.swift
  iOS/traveline/Sources/Domain/UseCase/SettingUseCase.swift
  iOS/traveline/Sources/Feature/LoginFeature/ViewModel/LoginViewModel.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/ViewModel/SettingVeiwModel.swift
Labels: 🍎 iOS, 🌟 Feature

#288 [fix] 내가 작성한 게시글 목록 반환 에러 해결
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 🐞 Bug, 📁 DB, 📄 Posting

#291 [refactor] 게시글 생성 시 테마, 누구랑 태그의 3개 개수 제한 폐지
  BE/src/postings/dto/create-posting.dto.ts
Labels: 💽 BE, 📄 Posting

#295 [fix] iOS 요청사항 해결 - bannedIp가 null인 상황 예외 처리
  BE/src/auth/auth.service.ts
Labels: 💽 BE, 🐞 Bug, 🔐 User

#297 [refactor] 내 게시글 반환 시 좋아요 수, 신고 수 필드 추가
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 📁 DB, 📄 Posting

#299 [docs] 야곰야곰 바뀐 response body, swagger 예제에 반영
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.swagger.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🛠️ Chore

#300 [feat] 상세화면 API 호출
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
Labels: 🍎 iOS, 🌟 Feature

#301 [feat] 로그인 화면 분기 처리
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/HeaderType.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkManager.swift
  iOS/traveline/Sources/Data/Network/DataMapping/AppleLoginRequestDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/ErrorResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/LoginResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/RefreshResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/WithdrawalResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/AuthRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Auth/AppleLoginRequest.swift
  iOS/traveline/Sources/Domain/Model/Auth/TLToken.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/AuthRepository.swift
  iOS/traveline/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/SettingUseCase.swift
  iOS/traveline/Sources/Feature/LoginFeature/AutoLoginScene/VC/AutoLoginVC.swift
  iOS/traveline/Sources/Feature/LoginFeature/AutoLoginScene/ViewModel/AutoLoginViewModel.swift
  iOS/traveline/Sources/Feature/LoginFeature/VC/LoginVC.swift
  iOS/traveline/Sources/Feature/LoginFeature/ViewModel/LoginViewModel.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/ViewModel/SettingViewModel.swift
Labels: 🍎 iOS, 📡 Network, 🔐 User

#303 [fix] iOS 요청사항 해결 - 사진 파일 용량 10MB로 조정
  BE/src/timelines/timelines.controller.ts
Labels: 💽 BE, ♻️ Refactor, 🔐 User

#312 [fix] 검색 시 각 태그 필터링이 OR로 연결되는 문제 해결
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 🐞 Bug, 📁 DB, 📄 Posting

#318 [feat] AWS SES 마이그레이션 및 오류 수정
  .github/workflows/deploy.yml
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
  BE/src/email/email.module.ts
  BE/src/email/email.service.ts
  BE/src/storage/storage.service.ts
  BE/views/email.ejs
Labels: 💽 BE, 🌟 Feature, ⚙️ Setting, ♻️ Refactor, 🔐 User

#320 [feat] 이미지 유해성 검사 API 사용
  BE/package-lock.json
  BE/package.json
  BE/src/storage/storage.module.ts
  BE/src/storage/storage.service.ts
  BE/src/timelines/timelines.constants.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.service.ts
  BE/src/users/users.module.ts
Labels: 💽 BE, 🌟 Feature

#322 [fix] 배포 스크립트에 환경변수 추가
  .github/workflows/deploy.yml
Labels: 💽 BE, ⚙️ Setting, 🐞 Bug

#315 [feat] 홈 화면 새로고침 구현
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 🔎 Search

#324 [fix] 검색 리스트 셀 재사용 문제 해결
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
Labels: 🍎 iOS, 🐞 Bug, 🌈 Design

#319 [feat] 토스트 뷰 생성
  iOS/traveline/Resources/Colors.xcassets/ToastFailure.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/ToastSuccess.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/toast/Contents.json
  iOS/traveline/Resources/Images.xcassets/toast/greenFace.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/toast/greenFace.imageset/smilingFace.png
  iOS/traveline/Resources/Images.xcassets/toast/greenFace.imageset/smilingFace2x.png
  iOS/traveline/Resources/Images.xcassets/toast/greenFace.imageset/smilingFace3x.png
  iOS/traveline/Resources/Images.xcassets/toast/redFace.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/toast/redFace.imageset/emotionUnhappy.png
  iOS/traveline/Resources/Images.xcassets/toast/redFace.imageset/emotionUnhappy2x.png
  iOS/traveline/Resources/Images.xcassets/toast/redFace.imageset/emotionUnhappy3x.png
  iOS/traveline/Resources/Images.xcassets/toast/yellowFace.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/toast/yellowFace.imageset/confusedFace.png
  iOS/traveline/Resources/Images.xcassets/toast/yellowFace.imageset/confusedFace2x.png
  iOS/traveline/Resources/Images.xcassets/toast/yellowFace.imageset/confusedFace3x.png
  iOS/traveline/Sources/DesignSystem/Common/TLColor.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLToastView.swift
Labels: 🍎 iOS, 🌈 Design

#327 [fix, feat] 1차 QA 버그 수정 및 타임라인 서버 연결
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Core/Extension/Date+.swift
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/Core/Extension/UILabel+.swift
  iOS/traveline/Sources/Core/Util/TagManager.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/API/TimelineEndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkManager.swift
  iOS/traveline/Sources/Data/Network/DataMapping/BaseResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailRequestDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelinePlaceResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TravelRequestDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/UserRequestDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/PostingRepositoryImpl.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Data/Repository/UserRepositoryImpl.swift
  iOS/traveline/Sources/DesignSystem/Component/TLLabel.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLTagList/TLTagListView.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailRequest.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelinePlace.swift
  iOS/traveline/Sources/Domain/Model/TravelID.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/ViewModel/ProfileEditingViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineMapScene/VC/TimelineMapVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/LocationSearchVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/RegionBottomSheetVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/SelectTagView.swift
Labels: 🍎 iOS, 🌟 Feature, 🐞 Bug

#330 [feat] 탈퇴 요청 처리
  iOS/traveline/Sources/Data/Network/DataMapping/WithdrawRequestDTO.swift
  iOS/traveline/Sources/Data/Repository/AuthRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Auth/WithdrawRequest.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/AuthRepository.swift
  iOS/traveline/Sources/Domain/UseCase/SettingUseCase.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/ViewModel/SettingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#336 [chore] 홈 화면 노출 시 리프레시 적용
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 📡 Network, 🛠️ Chore

#337 [fix] 기본 이미지 변경 및 홈 리스트 UI 개선
  iOS/traveline/Resources/Images.xcassets/Test/Contents.json
  iOS/traveline/Resources/Images.xcassets/Test/travel_image.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Test/travel_image.imageset/travel_image.heic
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
Labels: 🍎 iOS, 🌈 Design

#342 [refactor] DELETE 메서드의 반환 형식 수정
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.swagger.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 📁 DB

#347 [fix] 프로필 아이디 수정 안되던 이슈 해결
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
Labels: 🍎 iOS, 🐞 Bug

#345 [feat] 사이드 바 개선
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
Labels: 🍎 iOS, 🌟 Feature

#348 [hotfix] 타임라인 상세 진입하면 앱 터지는 이슈 해결
  iOS/traveline/Resources/Images.xcassets/Common/default.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/default.imageset/Rectangle.png
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
Labels: 🍎 iOS, 🔥 Hotfix

#351 [refactor] 타임라인 반환 (timelines/:id) 시 isOwner 필드 추가
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.repository.ts
Labels: 💽 BE, 📁 DB, 📚Timeline

#352 [docs] swagger 예제 수정
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE

#353 [feat] 타임라인 장소 검색 추가 구현
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelinePlaceResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelinePlace.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/LocationSearchVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/PlaceTVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#354 [feat] 사진의 시간 메타데이터 가져오도록 구현
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/local.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/local@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/local@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/location.imageset/location.png
  iOS/traveline/Resources/Images.xcassets/Travel/location.imageset/location@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location.imageset/location@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_diasabled.imageset/local.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_diasabled.imageset/local@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_diasabled.imageset/local@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_disabled.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/location_disabled.imageset/location_disabled.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_disabled.imageset/location_disabled@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/location_disabled.imageset/location_disabled@3x.png
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailRequestDTO.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/Component/TLImageLabel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectedLocationButton.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#355 [feat] 타임라인 상세 수정, 삭제 연결
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailRequest.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineDetailUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/ViewModel/TimelineDetailViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 📡 Network, 📄 Posting

#357 [docs] README 틀 작성, 링크 연결
  README.md
Labels: 🍎 iOS, 📄 Docs

#362 [docs] README - iOS 기술스택
  README.md
Labels: 🍎 iOS, 📄 Docs

#365 [chore] image URL 반환 시 image Path 필드도 함께 반환하게 함
  BE/src/postings/postings.service.ts
  BE/src/timelines/timelines.service.ts
Labels: 💽 BE, 🛠️ Chore

#360 [docs] README에 BE 내용 추가
  README.md
Labels: 💽 BE

#369 [revert] "[docs] README에 BE 내용 추가"
  README.md
Labels: 💽 BE

#366 [chore] 이미지 URL과 함께 경로도 같이 반환하도록 수정
  BE/src/users/dto/user-info.dto.ts
  BE/src/users/users.service.ts
  BE/src/users/users.swagger.ts
Labels: 💽 BE, 🛠️ Chore, 🔐 User

#370 [fix] 이미지 캐싱 수정
  iOS/traveline/Sources/Core/Cache/ImageCacheRepository.swift
  iOS/traveline/Sources/Core/Cache/TLImageCache.swift
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/UserResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/WriterDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/UserRepositoryMock.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/Domain/Model/Profile.swift
  iOS/traveline/Sources/Domain/Model/Sample/ProfileSample.swift
  iOS/traveline/Sources/Domain/Model/Sample/TravelListSample.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Domain/Model/Travel/TravelListInfo.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
Labels: 🍎 iOS, 🐞 Bug

#371 [docs] README 업데이트
  README.md
Labels: 📄 Docs

#372 [merge] README 업데이트 및 이미지 캐싱 개선
  README.md
  iOS/traveline/Sources/Core/Cache/ImageCacheRepository.swift
  iOS/traveline/Sources/Core/Cache/TLImageCache.swift
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/UserResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/WriterDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/UserRepositoryMock.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/Domain/Model/Profile.swift
  iOS/traveline/Sources/Domain/Model/Sample/ProfileSample.swift
  iOS/traveline/Sources/Domain/Model/Sample/TravelListSample.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Domain/Model/Travel/TravelListInfo.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
Labels: 🔥 Hotfix, 📄 Docs

#374 [refactor] Future-Task 개선
  iOS/traveline/Sources/Core/Extension/Future+.swift
  iOS/traveline/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/HomeUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/LoginUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/MyPostingListUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/ProfileEditingUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/SettingUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/SideMenuUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineDetailUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/TravelUseCase.swift
Labels: 🍎 iOS, ♻️ Refactor

#381 [feat] 번역하기 API 연결
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Data/Network/API/TimelineDetailEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineTranslatedResponseDTO.swift
  iOS/traveline/Sources/Data/Repository/Mock/TimelineDetailRepositoryMock.swift
  iOS/traveline/Sources/Data/Repository/TimelineDetailRepositoryImpl.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineTranslatedInfo.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineDetailRepository.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineDetailUseCase.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/ViewModel/TimelineDetailViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 📚Timeline
