Repository boostcampwm2023/iOS07-traveline, pull requests merged in 2023-11, with the labels that each got.

#1 [feat] nest 프로젝트 및 로깅 세팅
  BE/.eslintrc.js
  BE/.gitignore
  BE/.prettierrc
  BE/README.md
  BE/nest-cli.json
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.spec.ts
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/logging/logging.interceptor.ts
  BE/src/logging/logging.logger.ts
  BE/src/main.ts
  BE/test/app.e2e-spec.ts
  BE/test/jest-e2e.json
  BE/tsconfig.build.json
  BE/tsconfig.json
Labels: 💽 BE, 경미, 정민, ⚙️ Setting

#2 [feat] 예외처리 필터 적용
  BE/src/exception/exception.filter.ts
  BE/src/main.ts
Labels: 💽 BE, 경미, 정민, 🌟 Feature

#4 [feat] 프로젝트 세팅
  iOS/.gitignore
  iOS/Plugins/IOS/Package.swift
  iOS/Plugins/IOS/Plugin.swift
  iOS/Plugins/IOS/ProjectDescriptionHelpers/Environment.swift
  iOS/Plugins/IOS/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/Plugins/IOS/Sources/tuist-my-cli/main.swift
  iOS/Project.swift
  iOS/Tuist/Config.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/traveline/Resources/Project.swift
  iOS/traveline/Sources/App/AppDelegate.swift
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Base/.gitkeep
  iOS/traveline/Sources/Core/Enum/.gitkeep
  iOS/traveline/Sources/Core/Extension/.gitkeep
  iOS/traveline/Sources/Core/Protocol/.gitkeep
  iOS/traveline/Sources/Core/Util/.gitkeep
  iOS/traveline/Sources/Data/Entity/.gitkeep
  iOS/traveline/Sources/Data/Network/.gitkeep
  iOS/traveline/Sources/Data/Repository/.gitkeep
  iOS/traveline/Sources/Data/Storage/.gitkeep
  iOS/traveline/Sources/DesignSystem/Component/.gitkeep
  iOS/traveline/Sources/DesignSystem/View/.gitkeep
  iOS/traveline/Sources/Domain/Model/.gitkeep
  iOS/traveline/Sources/Domain/RepositoryInterface/.gitkeep
  iOS/traveline/Sources/Domain/UseCase/.gitkeep
  iOS/traveline/Sources/Feature/LoginFeature/View/.gitkeep
  iOS/traveline/Sources/Feature/LoginFeature/ViewController/.gitkeep
  iOS/traveline/Sources/Feature/LoginFeature/ViewModel/.gitkeep
  iOS/traveline/Tests/Project.swift
Labels: 🍎 iOS, 태현, 영인, 기웅, ⚙️ Setting

#6 [feat] SwiftLint 설정
  iOS/.gitignore
  iOS/.swiftlint.yml
  iOS/Scripts/SwiftLintRunScript.sh
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/Tuist/ProjectDescriptionHelpers/Scripts.swift
  iOS/traveline/Sources/test.swift
Labels: 🍎 iOS, ⚙️ Setting

#9 [feat] close #8 Swagger로 API 설계
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/auth/auth.controller.spec.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.spec.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth.dto.ts
  BE/src/auth/dto/update-auth.dto.ts
  BE/src/auth/entities/auth.entity.ts
  BE/src/main.ts
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/dto/update-posting.dto.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/postings.controller.spec.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.service.spec.ts
  BE/src/postings/postings.service.ts
  BE/src/swagger/swagger.setting.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/dto/update-timeline.dto.ts
  BE/src/timelines/entities/timeline.entity.ts
  BE/src/timelines/timelines.controller.spec.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.module.ts
  BE/src/timelines/timelines.service.spec.ts
  BE/src/timelines/timelines.service.ts
  BE/src/users/dto/check-duplicated-name-response.dto.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.controller.spec.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.spec.ts
  BE/src/users/users.service.ts
Labels: 💽 BE

#13 [feat] 네트워크 레이어 구현
  iOS/traveline/Sources/Data/Network/.gitkeep
  iOS/traveline/Sources/Data/Network/API/LoginEndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/EndPoint.swift
  iOS/traveline/Sources/Data/Network/Base/HTTPMethod.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkError.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkManager.swift
Labels: 🍎 iOS, 🌟 Feature

#15 [feat] 디자인시스템 추가
  iOS/traveline/Resources/Assets.xcassets/BackgroundGray.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Black.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Dimmed.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Error.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Gray.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/LightGray.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/LightMain.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/LineGray.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Main.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Success.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Cost.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Locaction.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/People.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Period.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Season.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Theme.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/Transportation.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Tag/With.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/Warning.colorset/Contents.json
  iOS/traveline/Resources/Assets.xcassets/White.colorset/Contents.json
  iOS/traveline/Resources/Fonts/Pretendard-Black.otf
  iOS/traveline/Resources/Fonts/Pretendard-Bold.otf
  iOS/traveline/Resources/Fonts/Pretendard-ExtraBold.otf
  iOS/traveline/Resources/Fonts/Pretendard-ExtraLight.otf
  iOS/traveline/Resources/Fonts/Pretendard-Light.otf
  iOS/traveline/Resources/Fonts/Pretendard-Medium.otf
  iOS/traveline/Resources/Fonts/Pretendard-Regular.otf
  iOS/traveline/Resources/Fonts/Pretendard-SemiBold.otf
  iOS/traveline/Resources/Fonts/Pretendard-Thin.otf
  iOS/traveline/Resources/Project.swift
  iOS/traveline/Sources/App/AppDelegate.swift
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/DesignSystem/TravelineColor.swift
  iOS/traveline/Sources/test.swift
Labels: 🍎 iOS, 🌈 Design

#17 [chore] TravelineLabel 추가 및 README 수정
  README.md
  iOS/Plugins/IOS/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/traveline/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/App/ViewController.swift
  iOS/traveline/Sources/DesignSystem/Component/.gitkeep
  iOS/traveline/Sources/DesignSystem/Component/TravelineLabel.swift
  iOS/traveline/Sources/DesignSystem/TravelineFont.swift
Labels: 🍎 iOS, 🛠️ Chore

#22 [feat] TypeORM 연동 및 Entity, DTO 생성
  BE/.gitignore
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth.dto.ts
  BE/src/auth/dto/update-auth.dto.ts
  BE/src/auth/entities/auth.entity.ts
  BE/src/database/database.module.ts
  BE/src/database/database.providers.ts
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/entities/liked.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/report.entity.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/entities/timeline.entity.ts
  BE/src/users/dto/check-duplicated-name-response.dto.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: 💽 BE, 🌟 Feature, 📁 DB

#25 [chore] 공용 디자인 수정
  iOS/.swiftlint.yml
  iOS/Plugins/IOS/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/traveline/Resources/Colors.xcassets/AppIcon.appiconset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/BackgroundGray.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Black.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Dimmed.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Error.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Gray.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/LightGray.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/LightMain.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/LineGray.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Main.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Success.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Cost.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Locaction.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/People.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Period.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Season.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Theme.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/Transportation.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Tag/With.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/Warning.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/White.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Contents.json
  iOS/traveline/Resources/Images.xcassets/Tag/Contents.json
  iOS/traveline/Resources/Images.xcassets/Tag/close.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Tag/close.imageset/close.png
  iOS/traveline/Resources/Images.xcassets/Tag/close.imageset/close@2x.png
  iOS/traveline/Resources/Images.xcassets/Tag/close.imageset/close@3x.png
  iOS/traveline/Sources/Data/Network/API/LoginEndPoint.swift
  iOS/traveline/Sources/DesignSystem/Component/TLLabel.swift
  iOS/traveline/Sources/DesignSystem/TLColor.swift
  iOS/traveline/Sources/DesignSystem/TLFont.swift
  iOS/traveline/Sources/DesignSystem/TLImage.swift
  iOS/traveline/Sources/DesignSystem/TravelineColor.swift
Labels: 🍎 iOS, 🛠️ Chore, 🌈 Design

#23 [feat] TLBottomSheet 작성
  iOS/traveline/Sources/DesignSystem/Component/ExampleBottomSheet.swift
  iOS/traveline/Sources/DesignSystem/Component/TLBottomSheetVC.swift
Labels: 🍎 iOS, 🌈 Design, 📁 Common

#28 [feat] TLTag 구현
  iOS/traveline/Resources/Colors.xcassets/DarkGray.colorset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/DisabledGray.colorset/Contents.json
  iOS/traveline/Sources/Core/Extension/.gitkeep
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Core/Extension/UIView+.swift
  iOS/traveline/Sources/Data/Network/Base/NetworkError.swift
  iOS/traveline/Sources/DesignSystem/Component/TLLabel.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTagStyle.swift
  iOS/traveline/Sources/DesignSystem/TLColor.swift
Labels: 🍎 iOS, 🌈 Design, 📁 Common

#32 [feat] 홈 검색바 UI 구현
  iOS/traveline/Sources/App/ViewController.swift
  iOS/traveline/Sources/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/HomeFeature/HomeScene/View/TLSearchController.swift
Labels: 🍎 iOS, 🌈 Design

#37 [add] Nest와 ObjectStorage 연동
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/storage/storage.module.ts
  BE/src/storage/storage.service.ts
Labels: 💽 BE, ⚙️ Setting

#30 [merge] 프로젝트 전반적인 세팅을 완료한다.
  BE/.eslintrc.js
  BE/.gitignore
  BE/.prettierrc
  BE/README.md
  BE/nest-cli.json
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.spec.ts
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/auth/auth.controller.spec.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.spec.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth.dto.ts
  BE/src/database/database.module.ts
  BE/src/database/database.providers.ts
  BE/src/exception/exception.filter.ts
  BE/src/logging/logging.interceptor.ts
  BE/src/logging/logging.logger.ts
  BE/src/main.ts
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/dto/update-posting.dto.ts
  BE/src/postings/entities/liked.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/report.entity.ts
  BE/src/postings/postings.controller.spec.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.service.spec.ts
  BE/src/postings/postings.service.ts
  BE/src/storage/storage.module.ts
  BE/src/storage/storage.service.ts
  BE/src/swagger/swagger.setting.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/dto/update-timeline.dto.ts
  BE/src/timelines/entities/timeline.entity.ts
  BE/src/timelines/timelines.controller.spec.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.module.ts
  BE/src/timelines/timelines.service.spec.ts
  BE/src/timelines/timelines.service.ts
  BE/src/users/dto/check-duplicated-name-response.dto.ts
  BE/src/users/dto/update-user.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.controller.spec.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.spec.ts
  BE/src/users/users.service.ts
  BE/test/app.e2e-spec.ts
  BE/test/jest-e2e.json
  BE/tsconfig.build.json
  BE/tsconfig.json
Labels: 💽 BE, ✅ Milestone

#36 [chore] Tuist 프로젝트 설정 추가
  iOS/.gitignore
  iOS/Plugins/ConfigPlugin/Plugin.swift
  iOS/Plugins/ConfigPlugin/ProjectDescriptionHelpers/XCConfig.swift
  iOS/Plugins/EnvPlugin/Plugin.swift
  iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/Environment.swift
  iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/Plugins/IOS/Package.swift
  iOS/Plugins/IOS/Plugin.swift
  iOS/Plugins/IOS/Sources/tuist-my-cli/main.swift
  iOS/Project.swift
  iOS/Tuist/Config.swift
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/XCConfig/.gitkeep
Labels: 🍎 iOS, 🛠️ Chore

#50 [feat] 단방향 ViewModel 추가
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Base/BaseAction.swift
  iOS/traveline/Sources/Core/Base/BaseSideEffect.swift
  iOS/traveline/Sources/Core/Base/BaseState.swift
  iOS/traveline/Sources/Core/Base/BaseViewModel.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/TLSearchController.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#48 [feat] TLAlertController 작성
  iOS/traveline/Sources/DesignSystem/Component/TLAlertController.swift
Labels: 🍎 iOS, 📁 Common

#40 [chore] storage module에 필요한 패키지 설치
  BE/package-lock.json
  BE/package.json
Labels: 💽 BE, 🛠️ Chore

#42 [feat] 특정 게시글 CRUD 구현
  BE/package-lock.json
  BE/package.json
  BE/src/main.ts
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/postings.constants.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.providers.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/postings.types.ts
Labels: 💽 BE, 🌟 Feature, 📄 Posting

#54 [refactor] Storage Service 함수 수정
  BE/src/app.controller.ts
  BE/src/storage/storage.service.ts
Labels: 💽 BE, ♻️ Refactor

#61 [feat] TLListCVC 및 HomeListView 구현
  iOS/traveline/Resources/Images.xcassets/Common/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/like_selected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/like_selected.imageset/Glyph_ undefined.png
  iOS/traveline/Resources/Images.xcassets/Common/like_selected.imageset/Glyph_ undefined@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/like_selected.imageset/Glyph_ undefined@3x.png
  iOS/traveline/Resources/Images.xcassets/Common/like_unselected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/like_unselected.imageset/Glyph_ undefined.png
  iOS/traveline/Resources/Images.xcassets/Common/like_unselected.imageset/Glyph_ undefined@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/like_unselected.imageset/Glyph_ undefined@3x.png
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/Core/Extension/UIStackView+.swift
  iOS/traveline/Sources/DesignSystem/Component/TLLabel.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/.gitkeep
  iOS/traveline/Sources/DesignSystem/View/TLListCell/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLListCell/TLListCVC.swift
  iOS/traveline/Sources/Domain/Model/.gitkeep
  iOS/traveline/Sources/Domain/Model/Profile.swift
  iOS/traveline/Sources/Domain/Model/Tag.swift
  iOS/traveline/Sources/Domain/Model/TagType.swift
  iOS/traveline/Sources/Domain/Model/TravelListInfo.swift
  iOS/traveline/Sources/Domain/Model/TravelListSample.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
Labels: 🍎 iOS, 🌟 Feature

#60 [feat] 세팅 뷰 UI 작성
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
Labels: 🍎 iOS, 🌈 Design

#65 [add] Dockerfile 생성
  BE/Dockerfile
Labels: 💽 BE, ⚙️ Setting

#67 test: #66 github actions 테스트
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#68 [add] GitHub Actions 스크립트 작성
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#69 [add] github actions 스크립트 작성2
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#70 [test] GitHub Actions 스크립트 작성3
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#71 [test] GitHub Actions 테스트용 pwd, ls 추가
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#72 [test] install package에서 테스트용 pwd, ls 추가
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#73 [test] Build Docker에 cd BE 추가
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#74 [test] GitHub Actions docker 관련 이런저런 이름 변경
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#75 [test] GitHub Actions에서 SSH 접속 포트 설정 추가
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#76 [test] GitHub Actions의 SSH Login에서 이름 변경
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#78 [test] GitHub Actions 옵션명 변경 & dockerignore 파일 생성
  .github/workflows/test.yml
  BE/.dockerignore
Labels: 💽 BE, ⚙️ Setting

#80 [test] GitHub Actions의 SSH Login에서 오타 수정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting

#77 [feat] 프로필 수정 뷰 UI
  iOS/traveline/Resources/Images.xcassets/Common/camera.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/camera.imageset/camera 1.png
  iOS/traveline/Resources/Images.xcassets/Common/camera.imageset/camera 2.png
  iOS/traveline/Resources/Images.xcassets/Common/camera.imageset/camera.png
  iOS/traveline/Sources/DesignSystem/TLImage.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
Labels: 🍎 iOS, 🌈 Design

#81 [feat] 여행 생성 화면 UI 구현
  iOS/traveline/Resources/Colors.xcassets/DisabledGray.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/Back.imageset/Back.png
  iOS/traveline/Resources/Images.xcassets/Common/Back.imageset/Back@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/Back.imageset/Back@3x.png
  iOS/traveline/Resources/Images.xcassets/Common/Back.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/Location.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/Location@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location.imageset/Location@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/Time.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/Time@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Time.imageset/Time@3x.png
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLTagList/TLTagListView.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/CostTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/DetailTagType.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/PeopleTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/ThemeTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/TransportationTag.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/WithTag.swift
  iOS/traveline/Sources/Domain/Model/TagType.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/SelectPeriodView.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/SelectRegionButton.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/SelectTagView.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/TitleTextField.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#83 [test] GitHub Actions 최종 수정
  .github/workflows/test.yml
  BE/package-lock.json
  BE/package.json
Labels: 💽 BE, ⚙️ Setting

#84 [feat] TLFloatingButton 구현
  iOS/traveline/Resources/Colors.xcassets/PressedMain.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/plus.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/plus.imageset/plus.png
  iOS/traveline/Resources/Images.xcassets/Common/plus.imageset/plus@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/plus.imageset/plus@3x.png
  iOS/traveline/Sources/DesignSystem/Component/TLFloatingButton/TLFloatingButton.swift
  iOS/traveline/Sources/DesignSystem/Component/TLFloatingButton/TLFloatingButtonStyle.swift
  iOS/traveline/Sources/DesignSystem/TLColor.swift
  iOS/traveline/Sources/DesignSystem/TLImage.swift
Labels: 🍎 iOS, 🌈 Design, 📁 Common

#90 [refactor] user 테이블 수정, social_login 테이블 추가
  BE/src/users/entities/social-login.entity.ts
  BE/src/users/entities/user.entity.ts
Labels: 💽 BE, ⚙️ Setting, ♻️ Refactor, 🔐 User, 📁 DB

#91 [refactor] 좋아요에 is_deleted 필드 추가, on delete/update 정책 수정
  BE/src/postings/entities/liked.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/report.entity.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#88 [feat] 타임라인 상세 뷰 UI
  iOS/traveline/Sources/DesignSystem/Component/TLImageLabel.swift
  iOS/traveline/Sources/Domain/Model/TimelineDetailInfo.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDtailScene/VC/TimelineDetailVC.swift
Labels: 🍎 iOS, 🌈 Design

#98 [refactor] DB 구조 변경에 따른 엔티티 수정/생성 & SearchPostingDto 수정
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/entities/mappings/posting-theme.entity.ts
  BE/src/postings/entities/mappings/posting-with-who.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/tags/budget.entity.ts
  BE/src/postings/entities/tags/headcount.entity.ts
  BE/src/postings/entities/tags/location.entity.ts
  BE/src/postings/entities/tags/period.entity.ts
  BE/src/postings/entities/tags/season.entity.ts
  BE/src/postings/entities/tags/tag.entity.ts
  BE/src/postings/entities/tags/theme.entity.ts
  BE/src/postings/entities/tags/vehicle.entity.ts
  BE/src/postings/entities/tags/with-who.entity.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.service.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#99 [feat] 로그인 시 JWT 발급 일부 구현
  BE/package-lock.json
  BE/package.json
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth.dto.ts
Labels: 💽 BE, 🔐 User

#97 [feat] 타임라인 - 여행 정보 UI 구현
  iOS/traveline/Sources/Core/Extension/UICollectionView+.swift
  iOS/traveline/Sources/DesignSystem/View/TLTagList/TLTagListView.swift
  iOS/traveline/Sources/Domain/Model/TimelineSample.swift
  iOS/traveline/Sources/Domain/Model/TimelineTravelInfo.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TravelInfoCVC.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#102 [fix] JWT 모듈 환경변수 문제 해결 (+리뷰 반영)
  BE/src/app.module.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
Labels: 💽 BE, ♻️ Refactor, 🐞 Bug, 🔐 User

#104 [refactor] 환경변수 추가로 인해 Dockerfile 내의 컨테이너 실행 명령어 수정
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting, ♻️ Refactor

#95 [feat] TLFilter 및 홈 필터 UI 구현
  iOS/.swiftlint.yml
  iOS/traveline/Resources/Colors.xcassets/UnSelectedGray.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈@3x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈@3x.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter.imageset/􀌆.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter.imageset/􀌆@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter.imageset/􀌆@3x.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter_selected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter_selected.imageset/􀌆.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter_selected.imageset/􀌆@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/total_filter_selected.imageset/􀌆@3x.png
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Core/Enum/FilterType.swift
  iOS/traveline/Sources/Core/Enum/TagType.swift
  iOS/traveline/Sources/DesignSystem/Common/TLColor.swift
  iOS/traveline/Sources/DesignSystem/Common/TLFont.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/Component/TLFilter.swift
  iOS/traveline/Sources/DesignSystem/View/TLListCell/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLListCell/TLListCVC.swift
  iOS/traveline/Sources/Domain/Model/Filter.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/Cell/FilterCVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TravelInfoCVC.swift
Labels: 🍎 iOS, 🌈 Design

#105 [feat] 타임라인 작성 뷰
  iOS/traveline/Resources/Images.xcassets/Common/album.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/album.imageset/Vector 1.png
  iOS/traveline/Resources/Images.xcassets/Common/album.imageset/Vector 2.png
  iOS/traveline/Resources/Images.xcassets/Common/album.imageset/Vector.png
  iOS/traveline/Resources/Images.xcassets/Common/close_black.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/close_black.imageset/close_black 1.png
  iOS/traveline/Resources/Images.xcassets/Common/close_black.imageset/close_black.png
  iOS/traveline/Resources/Images.xcassets/Common/close_black.imageset/close_black3x.png
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimePickerVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
Labels: 🍎 iOS, 🌈 Design

#111 [test] 도커파일 포트 값 변경 (github secret 사용)
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting, 📡 Network

#113 [test] 포트 하드코딩 변경
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting, 📡 Network

#114 [test] 다시 github secret으로 변경
  .github/workflows/test.yml
Labels: 💽 BE, ⚙️ Setting, 📡 Network, ♻️ Refactor

#117 [fix] user 컬럼명 type → socialType으로 수정
  BE/src/users/entities/user.entity.ts
Labels: 💽 BE, 🐞 Bug, 🔐 User, 📁 DB

#119 [feat] JWT 가드 작성
  BE/src/auth/auth.guard.ts
  BE/src/auth/auth.providers.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.providers.ts
  BE/src/users/users.repository.ts
Labels: 💽 BE, 🌟 Feature, ⚙️ Setting, 🛠️ Chore, ♻️ Refactor, 🐞 Bug, 🔐 User

#109 [feat] 타임라인 화면 UI 구현
  iOS/traveline/Resources/Images.xcassets/Travel/Map.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Map.imageset/Map.png
  iOS/traveline/Resources/Images.xcassets/Travel/Map.imageset/Map@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/Map.imageset/Map@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More@3x.png
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLTagList/TLTagListView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/DateIndicatorCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineDateHeaderView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TravelInfoCVC.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#115 [feat] 홈 검색 UI 구현
  iOS/traveline/Resources/Images.xcassets/Common/search.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/search.imageset/magnifyingglass.png
  iOS/traveline/Resources/Images.xcassets/Common/search.imageset/magnifyingglass@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/search.imageset/magnifyingglass@3x.png
  iOS/traveline/Resources/Images.xcassets/Home/Contents.json
  iOS/traveline/Resources/Images.xcassets/Home/close_medium.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Home/close_medium.imageset/x icon.png
  iOS/traveline/Resources/Images.xcassets/Home/close_medium.imageset/x icon@2x.png
  iOS/traveline/Resources/Images.xcassets/Home/close_medium.imageset/x icon@3x.png
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLListCVC.swift
  iOS/traveline/Sources/DesignSystem/View/TLSearch/TLSearchInfoView.swift
  iOS/traveline/Sources/Domain/Model/Sample/SearchKeywordSample.swift
  iOS/traveline/Sources/Domain/Model/Sample/TravelListSample.swift
  iOS/traveline/Sources/Domain/Model/SearchKeyword.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/Cell/RecentHeaderView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/Cell/SearchCVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeSearchView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#118 [feat] 타임라인 작성뷰 내의 지역 서치 뷰 UI 작업
  iOS/traveline/Resources/Images.xcassets/Travel/Location_disable.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/Location_disable.imageset/local-two 1.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location_disable.imageset/local-two 2.png
  iOS/traveline/Resources/Images.xcassets/Travel/Location_disable.imageset/local-two.png
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Extension/String+.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/LocationSearchVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectedLocationButton.swift
Labels: 🍎 iOS, 🌈 Design

#121 [feat] 타임라인 - 지도 화면 구현
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerSelected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerSelected.imageset/MarkerSelected.png
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerSelected.imageset/MarkerSelected@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerSelected.imageset/MarkerSelected@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerUnselected.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerUnselected.imageset/MarkerUnselected.png
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerUnselected.imageset/MarkerUnselected@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/MarkerUnselected.imageset/MarkerUnselected@3x.png
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineTravelInfo.swift
  iOS/traveline/Sources/Domain/Model/TimelineSample.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineMapScene/VC/TimelineMapVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineMapScene/View/TLMarkerAnnotation.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineDateHeaderView.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#123 [feat] 홈 (+) 버튼 구현 및 전체 플로우 연결
  iOS/.swiftlint.yml
  iOS/traveline/Resources/Colors.xcassets/AppIcon.appiconset/Contents.json
  iOS/traveline/Resources/Colors.xcassets/MediumGray.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/1024.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/114.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/120.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/180.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/29.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/40.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/57.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/58.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/60.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/80.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/87.png
  iOS/traveline/Resources/Images.xcassets/AppIcon.appiconset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Test/Contents.json
  iOS/traveline/Resources/Images.xcassets/Test/travel_image.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Test/travel_image.imageset/travel_image.heic
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/Core/Extension/UICollectionView+.swift
  iOS/traveline/Sources/DesignSystem/Common/TLColor.swift
  iOS/traveline/Sources/DesignSystem/Component/TLAlertController.swift
  iOS/traveline/Sources/DesignSystem/Component/TLFloatingButton/TLFloatingButtonStyle.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/ThemeTag.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/LocationSearchVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
Labels: 🍎 iOS, 🌟 Feature

#122 [refactor] 변경된 DB 구조에 맞춰 게시글 생성 API 수정
  BE/src/postings/entities/liked.entity.ts
  BE/src/postings/entities/mappings/posting-theme.entity.ts
  BE/src/postings/entities/mappings/posting-with-who.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/report.entity.ts
  BE/src/postings/entities/tags/tag.entity.ts
  BE/src/postings/entities/tags/theme.entity.ts
  BE/src/postings/entities/tags/with-who.entity.ts
  BE/src/postings/postings.constants.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.providers.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/likeds.repository.ts
  BE/src/postings/repositories/mappings/posting-themes.repository.ts
  BE/src/postings/repositories/mappings/posting-with-whos.repository.ts
  BE/src/postings/repositories/postings.repository.ts
  BE/src/postings/repositories/reports.repository.ts
  BE/src/postings/repositories/tags/budgets.repository.ts
  BE/src/postings/repositories/tags/headcounts.repository.ts
  BE/src/postings/repositories/tags/locations.repository.ts
  BE/src/postings/repositories/tags/periods.repository.ts
  BE/src/postings/repositories/tags/seasons.repository.ts
  BE/src/postings/repositories/tags/tag.repository.ts
  BE/src/postings/repositories/tags/themes.repository.ts
  BE/src/postings/repositories/tags/vehicles.repository.ts
  BE/src/postings/repositories/tags/with-whos.repository.ts
  BE/src/users/entities/user.entity.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#124 [refactor] users API 리뷰 및 요청사항 반영
  BE/src/app.module.ts
  BE/src/auth/auth.service.ts
  BE/src/storage/storage.service.ts
  BE/src/users/dto/user-info.dto.ts
  BE/src/users/users.constants.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.providers.ts
  BE/src/users/users.repository.ts
  BE/src/users/users.service.ts
Labels: 💽 BE, 🌟 Feature, ♻️ Refactor, 🔐 User

#126 [feat] 타임라인 마지막 셀 처리
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
Labels: 🍎 iOS, 🌈 Design

#128 [feat] 지역 선택 바텀시트 구현
  iOS/traveline/Sources/Core/Enum/TravelRegion.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/Cell/RegionCVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/RegionBottomSheetVC.swift
Labels: 🍎 iOS, 🌟 Feature, 🌈 Design

#133 [refactor] DB 구조 변경에 따른 기존 게시글 조회/수정/삭제 및 좋아요, 신고 API 수정
  BE/src/database/database.providers.ts
  BE/src/postings/entities/mappings/posting-mapping.entity.ts
  BE/src/postings/entities/mappings/posting-theme.entity.ts
  BE/src/postings/entities/mappings/posting-with-who.entity.ts
  BE/src/postings/entities/tags/theme.entity.ts
  BE/src/postings/entities/tags/with-who.entity.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/likeds.repository.ts
  BE/src/postings/repositories/mappings/posting-mapping.repository.ts
  BE/src/postings/repositories/mappings/posting-themes.repository.ts
  BE/src/postings/repositories/mappings/posting-with-whos.repository.ts
  BE/src/postings/repositories/postings.repository.ts
  BE/src/postings/repositories/reports.repository.ts
  BE/src/postings/repositories/tags/tag.repository.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#139 [docs] swgger 일부 수정
  BE/src/postings/postings.controller.ts
  BE/src/swagger/swagger.setting.ts
Labels: 💽 BE

#131 [feat] 필터 바텀시트 구현
  iOS/traveline/Resources/Colors.xcassets/Tag/Region.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow.imageset/􀆈@3x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈@2x.png
  iOS/traveline/Resources/Images.xcassets/Filter/down_arrow_selected.imageset/􀆈@3x.png
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Core/Enum/FilterType.swift
  iOS/traveline/Sources/Core/Enum/TagType.swift
  iOS/traveline/Sources/Core/Enum/TravelRegion.swift
  iOS/traveline/Sources/DesignSystem/Common/TLColor.swift
  iOS/traveline/Sources/DesignSystem/Component/TLFilter.swift
  iOS/traveline/Sources/DesignSystem/View/TLFilter/TLFilterDetailButton.swift
  iOS/traveline/Sources/DesignSystem/View/TLFilter/TLFilterListView.swift
  iOS/traveline/Sources/DesignSystem/View/TLList/TLInfoView.swift
  iOS/traveline/Sources/DesignSystem/View/TLSearch/TLSearchController.swift
  iOS/traveline/Sources/Domain/Model/Filter.swift
  iOS/traveline/Sources/Domain/Model/Filter/Filter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/DetailFilterType.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/PeriodFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/RegionFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/SeasonFilter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDetail/SortFilter.swift
  iOS/traveline/Sources/Domain/Model/Sample/FilterDetailSample.swift
  iOS/traveline/Sources/Domain/Model/Sample/TravelListSample.swift
  iOS/traveline/Sources/Domain/Model/TagDetail/WithTag.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Feature/HomeFeature/FilterBottomSheet/VC/FilterBottomSheet.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/Cell/FilterCVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/RegionBottomSheetVC.swift
Labels: 🍎 iOS, 🌟 Feature

#145 [feat] manifest.plist 다운로드 생성
  BE/src/app.controller.ts
  BE/src/app.service.ts
Labels: 💽 BE

#146 [fix] href 수정
  BE/src/app.controller.ts
Labels: 💽 BE

#147 [refactor] 다운로드 html 수정
  BE/src/app.controller.ts
  BE/src/app.service.ts
Labels: 💽 BE

#134 [feat] TLImageCache 구현
  iOS/traveline/Sources/Core/Cache/ImageCacheRepository.swift
  iOS/traveline/Sources/Core/Cache/TLImageCache.swift
  iOS/traveline/Sources/Core/Cache/TLImageDownloader.swift
  iOS/traveline/Sources/Core/Extension/UIImageView+.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineSample.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
Labels: 🍎 iOS, 🌟 Feature, 📁 Common

#141 [feat] 사이드 바 UI 구현
  iOS/traveline/Resources/Images.xcassets/Home/menu.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Home/menu.imageset/hamburger-button 1.png
  iOS/traveline/Resources/Images.xcassets/Home/menu.imageset/hamburger-button 2.png
  iOS/traveline/Resources/Images.xcassets/Home/menu.imageset/hamburger-button.png
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/App/SceneDelegate.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/VC/SideMenuVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
Labels: 🍎 iOS, 🌈 Design

#151 [refactor] 태그 테이블 제거 → 태그 값(문자열) 그대로 게시글에 저장
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/entities/mappings/posting-mapping.entity.ts
  BE/src/postings/entities/mappings/posting-theme.entity.ts
  BE/src/postings/entities/mappings/posting-with-who.entity.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/entities/tags/budget.entity.ts
  BE/src/postings/entities/tags/headcount.entity.ts
  BE/src/postings/entities/tags/location.entity.ts
  BE/src/postings/entities/tags/period.entity.ts
  BE/src/postings/entities/tags/season.entity.ts
  BE/src/postings/entities/tags/tag.entity.ts
  BE/src/postings/entities/tags/theme.entity.ts
  BE/src/postings/entities/tags/vehicle.entity.ts
  BE/src/postings/entities/tags/with-who.entity.ts
  BE/src/postings/postings.constants.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.module.ts
  BE/src/postings/postings.providers.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/postings.types.ts
  BE/src/postings/repositories/likeds.repository.ts
  BE/src/postings/repositories/mappings/posting-mapping.repository.ts
  BE/src/postings/repositories/mappings/posting-themes.repository.ts
  BE/src/postings/repositories/mappings/posting-with-whos.repository.ts
  BE/src/postings/repositories/postings.repository.ts
  BE/src/postings/repositories/tags/budgets.repository.ts
  BE/src/postings/repositories/tags/headcounts.repository.ts
  BE/src/postings/repositories/tags/locations.repository.ts
  BE/src/postings/repositories/tags/periods.repository.ts
  BE/src/postings/repositories/tags/seasons.repository.ts
  BE/src/postings/repositories/tags/tag.repository.ts
  BE/src/postings/repositories/tags/themes.repository.ts
  BE/src/postings/repositories/tags/vehicles.repository.ts
  BE/src/postings/repositories/tags/with-whos.repository.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#143 [feat] TLNavigationBar 구현 및 적용
  iOS/.swiftlint.yml
  iOS/traveline/Resources/Images.xcassets/Common/close_medium.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/close_medium.imageset/x icon.png
  iOS/traveline/Resources/Images.xcassets/Common/close_medium.imageset/x icon@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/close_medium.imageset/x icon@3x.png
  iOS/traveline/Resources/Images.xcassets/Home/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More@2x.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/More@3x.png
  iOS/traveline/Resources/Images.xcassets/Travel/More.imageset/more@3x.png
  iOS/traveline/Sources/Core/Constant/BaseMetric.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/Component/ExampleBottomSheet.swift
  iOS/traveline/Sources/DesignSystem/View/TLAlertController.swift
  iOS/traveline/Sources/DesignSystem/View/TLBottomSheetVC.swift
  iOS/traveline/Sources/DesignSystem/View/TLFilter/TLFilterListView.swift
  iOS/traveline/Sources/DesignSystem/View/TLNavigationBar/TLNavigationBar.swift
  iOS/traveline/Sources/DesignSystem/View/TLSearch/TLSearchInfoView.swift
  iOS/traveline/Sources/Feature/HomeFeature/FilterBottomSheet/VC/FilterBottomSheet.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineMapScene/VC/TimelineMapVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TravelInfoCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/LocationSearchVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
Labels: 🍎 iOS, 🌟 Feature, 📁 Common

#154 [feat] CombineUtil 구현
  iOS/traveline/Sources/Core/Combine/Publisher+/Just.swift
  iOS/traveline/Sources/Core/Combine/Publisher+/WithUnretained.swift
  iOS/traveline/Sources/Core/Combine/UIControl+/EventPublisher.swift
  iOS/traveline/Sources/Core/Combine/UIControl+/EventSubscription.swift
  iOS/traveline/Sources/Core/Combine/UIControl+/Publisher.swift
  iOS/traveline/Sources/Core/Combine/UIKit+/UIButton+.swift
  iOS/traveline/Sources/Core/Combine/UIKit+/UITextField+.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeSideEffect.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeState.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/SettingScene/VC/SettingVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/VC/SideMenuVC.swift
Labels: 🍎 iOS, 🌟 Feature

#156 [feat] TravelViewModel 구현
  iOS/traveline/Sources/Core/Enum/TagType.swift
  iOS/traveline/Sources/DesignSystem/Component/TLTag/TLTag.swift
  iOS/traveline/Sources/DesignSystem/View/TLTagList/TLTagListView.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/View/SelectTagView.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/ViewModel/TravelViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#152 [feat] 프로필 에디트 뷰에서 앨범 연결 작업
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
Labels: 🍎 iOS, 🌟 Feature

#158 [hotfix] HomeVC에서 TravelViewModel 주입
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
Labels: 🍎 iOS, 🔥 Hotfix

#161 [feat] 내가 작성한 글 목록 뷰 UI
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
Labels: 🍎 iOS, 🌈 Design

#160 [feat] 홈 검색결과 뷰 구현
  iOS/traveline/Sources/Domain/Model/Filter/Filter.swift
  iOS/traveline/Sources/Domain/Model/Filter/FilterDictionary.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/Cell/FilterCVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeSearchView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeAction.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeState.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#164 [feat] 게시글 검색
  BE/src/postings/dto/create-posting.dto.ts
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/posting.swagger.ts
  BE/src/postings/postings.constants.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/postings.types.ts
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, 🌟 Feature, 📁 DB, 📄 Posting

#163 [feat] 로그인 UI 구현
  iOS/traveline/Resources/Colors.xcassets/PressedWhite.colorset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/traveline_logo.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/traveline_logo.imageset/traveline_logo.png
  iOS/traveline/Resources/Images.xcassets/Common/traveline_logo.imageset/traveline_logo@2x.png
  iOS/traveline/Resources/Images.xcassets/Common/traveline_logo.imageset/traveline_logo@3x.png
  iOS/traveline/Sources/Core/Constant/BaseMetric.swift
  iOS/traveline/Sources/DesignSystem/Common/TLColor.swift
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/Feature/LoginFeature/VC/LoginVC.swift
  iOS/traveline/Sources/Feature/LoginFeature/View/.gitkeep
  iOS/traveline/Sources/Feature/LoginFeature/View/AppleLoginButton.swift
  iOS/traveline/Sources/Feature/LoginFeature/ViewController/.gitkeep
Labels: 🍎 iOS, 🌈 Design

#167 [feat] 애플 로그인 구현
  iOS/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/LoginFeature/VC/LoginVC.swift
  iOS/traveline/Sources/Feature/LoginFeature/ViewModel/.gitkeep
  iOS/traveline/Sources/Feature/LoginFeature/ViewModel/LoginViewModel.swift
  iOS/traveline/traveline.entitlements
Labels: 🍎 iOS, 🌟 Feature

#170 [refactor] Posting 엔티티에서 @RelationId 제거 (기능 변화X)
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/posting.swagger.ts
  BE/src/postings/postings.controller.ts
  BE/src/postings/postings.service.ts
  BE/src/postings/repositories/postings.repository.ts
Labels: 💽 BE, ♻️ Refactor, 📁 DB, 📄 Posting

#180 [feat] 초간단 타임라인 CRUD
  BE/src/postings/entities/posting.entity.ts
  BE/src/postings/postings.module.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/entities/timeline.entity.ts
  BE/src/timelines/timelines.constants.ts
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.module.ts
  BE/src/timelines/timelines.providers.ts
  BE/src/timelines/timelines.repository.ts
  BE/src/timelines/timelines.service.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🌟 Feature, 📁 DB, 📚Timeline

#179 [feat] auth API 일부 구현
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.guard.ts
  BE/src/auth/auth.module.ts
  BE/src/auth/auth.service.ts
  BE/src/auth/dto/create-auth-request-for-dev.dto.ts
  BE/src/auth/dto/create-auth-request.dto.ts
  BE/src/auth/dto/create-auth-response.ts
  BE/src/users/dto/create-user.dto.ts
  BE/src/users/entities/user.entity.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.repository.ts
  BE/src/users/users.service.ts
Labels: 💽 BE, 🌟 Feature, 🔐 User

#182 [fix] 환경 변수 추가에 따른 docker run -e 옵션 추가
  .github/workflows/deploy.yml
Labels: 💽 BE, 🔥 Hotfix

#172 [feat] 키체인 구현
  iOS/traveline/Sources/Core/Constant/KeychainKey.swift
  iOS/traveline/Sources/Core/Util/.gitkeep
  iOS/traveline/Sources/Core/Util/Keychain/KeychainManager.swift
  iOS/traveline/Sources/Core/Util/Keychain/KeychainWrapper.swift
Labels: 🍎 iOS, 🌟 Feature

#168 [feat] 타임라인 화면 View Model 구현
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineTravelInfo.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineDateHeaderView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TravelInfoCVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#186 [feat] 장소에 대한 좌표 값을 카카오 지도 API로 가져오기
  .github/workflows/deploy.yml
  BE/package-lock.json
  BE/package.json
  BE/src/postings/dto/search-posting.dto.ts
  BE/src/timelines/dto/create-timeline.dto.ts
  BE/src/timelines/entities/timeline.entity.ts
  BE/src/timelines/timelines.constants.ts
  BE/src/timelines/timelines.repository.ts
  BE/src/timelines/timelines.service.ts
  BE/src/timelines/timelines.swagger.ts
Labels: 💽 BE, 🌟 Feature, 📚Timeline

#187 [feat] Data-Domain 플로우 구현
  iOS/traveline/Sources/Core/Enum/VCFactory.swift
  iOS/traveline/Sources/Data/Network/API/PostingEndPoint.swift
  iOS/traveline/Sources/Data/Network/DataMapping/LikedsDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/PostingDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/WriterDTO.swift
  iOS/traveline/Sources/Data/Repository/TimelineRepositoryImpl.swift
  iOS/traveline/Sources/Domain/RepositoryInterface/.gitkeep
  iOS/traveline/Sources/Domain/RepositoryInterface/TimelineRepository.swift
  iOS/traveline/Sources/Domain/UseCase/FetchTravelInfoUseCase.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/MyPostListScene/VC/MyPostListVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
Labels: 🍎 iOS, 📄 Posting

#173 [feat] 프로필 수정 화면 뷰모델 작성
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/ViewModel/ProfileEditingViewModel.swift
Labels: 🍎 iOS, 🌟 Feature

#178 [feat] 사이드바 뷰모델
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Domain/Model/Profile.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/VC/SideMenuVC.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
  iOS/traveline/Sources/Feature/SideFeature/SideScene/ViewModel/SideMenuViewModel.swift
Labels: 🍎 iOS, 🌟 Feature
