Repository boostcampwm2023/iOS07-traveline, pull requests merged in 2024-01, with the labels that each got.

#391 [refactor] IP, 이메일 관련 기능 전부 주석 처리
  BE/src/app.controller.ts
  BE/src/auth/auth.controller.ts
  BE/src/auth/auth.service.ts
Labels: 💽 BE, ♻️ Refactor, 🔐 User

#385 [feat] 인증서 변경 작업
  iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/Environment.swift
Labels: 🍎 iOS, 🌟 Feature

#392 [feat] 이미지 rollback 기능 구현
  BE/src/timelines/timelines.service.ts
Labels: 💽 BE, 📚Timeline

#400 [fix] 타임라인 이미지 제거 시 예전 이미지 URL이 반환되는 문제 해결
  BE/src/timelines/timelines.service.ts
Labels: 💽 BE, 🐞 Bug, 📚Timeline

#397 [fix] 타임라인 수정 / 삭제 간 문제 해결
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/ViewModel/TimelineDetailViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectImageButton.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
Labels: 🍎 iOS, 🐞 Bug, 📚Timeline

#393 [feat] emptyView 작성
  iOS/traveline/Resources/Images.xcassets/Common/empty.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/empty.imageset/Glyph_ undefined 1.png
  iOS/traveline/Resources/Images.xcassets/Common/empty.imageset/Glyph_ undefined 2.png
  iOS/traveline/Resources/Images.xcassets/Common/empty.imageset/Glyph_ undefined.png
  iOS/traveline/Resources/Images.xcassets/Common/errorCircle.imageset/Contents.json
  iOS/traveline/Resources/Images.xcassets/Common/errorCircle.imageset/Glyph_ undefined 1.png
  iOS/traveline/Resources/Images.xcassets/Common/errorCircle.imageset/Glyph_ undefined 2.png
  iOS/traveline/Resources/Images.xcassets/Common/errorCircle.imageset/Glyph_ undefined.png
  iOS/traveline/Sources/DesignSystem/Common/TLImage.swift
  iOS/traveline/Sources/DesignSystem/View/TLEmptyView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/View/HomeListView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeState.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/ViewModel/HomeViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
Labels: 🍎 iOS, 🌈 Design

#396 [feat] 여행생성시 제목 글자수 제한 작업
  iOS/traveline/Sources/DesignSystem/View/TLToastView.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
Labels: 🍎 iOS, 🌟 Feature

#402 [fix] 타임라인 상세 글을 장소 등록 없이 작성했을 때 조회가 되지 않는 문제 해결
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineDetailResponseDTO.swift
  iOS/traveline/Sources/Data/Network/DataMapping/TimelineResponseDTO.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineCardInfo.swift
  iOS/traveline/Sources/Domain/Model/Timeline/TimelineDetailInfo.swift
  iOS/traveline/Sources/Domain/UseCase/TimelineWritingUseCase.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/View/TimelineCardView.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/View/SelectedLocationButton.swift
Labels: 🍎 iOS, 🐞 Bug, 📚Timeline

#405 [test] 깃허브 액션 파일 변경 및 생성
  .github/workflows/deploy-test.yml
Labels: 💽 BE, ⚙️ Setting

#406 [fix] github action 스크립트 수정
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
Labels: 💽 BE, ⚙️ Setting

#410 [chore] Papago API 제거
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  BE/src/timelines/timelines.controller.ts
  BE/src/timelines/timelines.service.ts
Labels: 💽 BE, 📚Timeline

#414 [Feat] 테스트용 서버 추가
  iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Data/Network/Base/EndPoint.swift
Labels: 🍎 iOS, 🌟 Feature

#408 [feat] 토스트 메시지 노출
  iOS/traveline/Sources/App/RootContainerVC.swift
  iOS/traveline/Sources/Core/Delegate/ToastDelegate.swift
  iOS/traveline/Sources/Core/Extension/UIViewController+.swift
  iOS/traveline/Sources/DesignSystem/View/TLToastView.swift
  iOS/traveline/Sources/Feature/HomeFeature/HomeScene/VC/HomeVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/VC/ProfileEditingVC.swift
  iOS/traveline/Sources/Feature/MyPageFeature/ProfileEditingScene/ViewModel/ProfileEditingViewModel.swift
  iOS/traveline/Sources/Feature/TimelineDetailFeature/TimelineDetailScene/VC/TimelineDetailVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/VC/TimelineWritingVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineWritingScene/ViewModel/TimelineWritingViewModel.swift
  iOS/traveline/Sources/Feature/TravelFeature/TravelScene/VC/TravelVC.swift
Labels: 🍎 iOS, 🌟 Feature

#411 [chore] 앱 삭제 후 재진입 시 로그인 화면으로 이동하기 위해 UserDefaults에 첫 진입 (로그인) 여부 저장
  iOS/traveline/Sources/Core/Constant/UserDefaultsList.swift
  iOS/traveline/Sources/Domain/UseCase/AutoLoginUseCase.swift
  iOS/traveline/Sources/Domain/UseCase/LoginUseCase.swift
Labels: 🍎 iOS, 🛠️ Chore, 🔐 User

#417 [fix] 프로필 기본 이미지 변경 시 사이드 바 즉시 적용
  iOS/traveline/Sources/Feature/SideFeature/SideScene/View/ProfileLabel.swift
Labels: 🍎 iOS, 🐞 Bug
