Repository boostcampwm2023/iOS07-traveline, pull requests merged in 2024-04, with the labels that each got.

#435 [chore] 워크플로우 삭제
  .github/workflows/deploy-test.yml
Labels: 💽 BE, 📡 Network

#439 [fix] 소셜 로그인과 개발용 로그인 라우터 순서 변경 & 경로 파라미터 관련 Swagger 추가
  BE/src/auth/auth.controller.ts
Labels: 💽 BE, 🐞 Bug

#441 [docs] 아키텍처 이미지 변경 & WIKI 링크 추가
  README.md
Labels: 💽 BE, 📄 Docs

#445 [hotfix] apple login endpoint 수정
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
Labels: 🍎 iOS, 🔥 Hotfix

#447 [hotfix] 차단하기 기능 UI 구현
  iOS/traveline/Sources/Core/Constant/Literal.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/VC/TimelineVC.swift
  iOS/traveline/Sources/Feature/TimelineFeature/TimelineScene/ViewModel/TimelineViewModel.swift
Labels: 🍎 iOS, 🔥 Hotfix

#452 [hotfix] apple 탈퇴하기 endpoint 변경
  iOS/Plugins/EnvPlugin/ProjectDescriptionHelpers/InfoPlist.swift
  iOS/traveline/Sources/Data/Network/API/AuthEndPoint.swift
Labels: 🍎 iOS, 🔥 Hotfix
